.container {
  background-color: #eee;
  width: 1000px;
  margin: 30px auto;
  display: grid;
  /* grid-template-rows:150px 100px; */
  grid-template-rows: repeat(2,150px);
  /* grid-template-columns: 150px 150px 150px; */
  /* grid-template-columns: repeat(3,150px); */
  /* grid-template-columns: repeat(2,150px) 1fr; */
  /* grid-template-columns: repeat(3,1fr); */

  grid-template-columns: 1fr 2fr 1fr;


  /* grid-row-gap: 20px;
  grid-column-gap:30px ; */
  grid-gap:40px;
}
.item{
  padding: 20px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffff;
}
.item-1{
background-color: orange;
/* grid-row-start: 2;
grid-column-start: 2;
grid-column-end: 3; */
grid-row: 2/2;
grid-column:2/3;
}
.item-2{
  background-color: rgb(45, 192, 26);
}
.item-3{
  background-color: orchid;
}
.item-4{
  background-color: pink;
}
.item-5{
  background-color: blue;
  grid-row: 1/2;
  grid-column: 3/3;
}
.item-6{
  background-color:brown;
  grid-column: 1/-1; 
  /* same */
  /* grid-column: 1/ span 3; */
}